[Desktop Entry]
Type=Application
Name=Elden Keys
Comment=Elden Ring keyboard macros
Exec=elden-keys-start usb-Logitech_G513_Carbon_Tactile_056E38673132-event-kbd
Icon=eldenkeys
Terminal=false
Categories=Utility;DesktopUtility;
Keywords=keyboard;

